<nav id="my-first">
    <ul>
        <li class="logotype">
            <a routerLink="">Bible-Verse</a>
        </li>
        <li class="burger" (click)="toggleMenu()">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <a (click)="toggleMenu()" pageScroll [pageScrollDuration]="500" routerLink="" class="menu-item">Home</a>
            <a *ngIf="service.isLoggedIn() && service.checkSpecial() > 0" (click)="toggleMenu()" pageScroll [pageScrollDuration]="500" routerLink="trackPill" class="menu-item">Pill Tracker</a>
            <a (click)="toggleMenu()" pageScroll [pageScrollDuration]="500" href="#about" class="menu-item">About</a>
            <a (click)="toggleMenu()" pageScroll [pageScrollDuration]="500" href="#certifications"
                class="menu-item">Contact Us</a>
            <a *ngIf="!service.isLoggedIn()" (click)="toggleMenu()" pageScroll [pageScrollDuration]="500" routerLink="login"
                class="menu-item">Login</a>
            <a *ngIf="service.isLoggedIn()" (click)="toggleMenu(); logout()" pageScroll [pageScrollDuration]="500" routerLink="login"
                class="menu-item">Logout</a>
        </li>
    </ul>
</nav>