.wrapper {
    //border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verse-container {
    border: 2px solid gray;
    width:50%;
    background-color: inherit;
    margin: auto;
    justify-content: center;
    align-items: center;
}

// .verse-field {
//     display: inline-flex;
// }

h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
    //float:left;
    margin-left: -50%;
    //margin-bottom: 40px;
}
p {
    text-align: center;
    color: white;
}