<div id="pillPage">
    <h1>Pill Tracker</h1>

    <button (click)="addDate()" class="taken-button" mat-raised-button color="primary">Primary</button>

    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th *ngIf="user.isSpecial == 1">DELETE</th>
        </tr>
        <tr *ngFor="let pill of pillList">
            <td>{{pill.username}}</td>
            <td>{{pill.dateTaken | date: "dd/MM/yyy HH:mm"}}</td>
            <td *ngIf="user.isSpecial == 1"><button mat-raised-button color="warn">X</button></td>
        </tr>
    </table>
</div>
